<div class="centrar">
    <p>BALANCE: {{balance}} <input type="submit" value="RefreshBalance" (click)="getBalance()"/></p>
    <p>PRECIO GAS: {{gasPriceString}}</p>
    <p>
        <input type="submit" value="Enviar" (click)="formEthers()"/>
        <input type="submit" value="Recibir" (click)="getAddress()"/>
    </p>

    <div *ngIf="enviarBoolean">
        <form [formGroup]="enviarForm" (ngSubmit)="enviarEthers()">
            Introduce cuantos ethers quieres enviar: <input type="number" formControlName="numEthers"/>*
            <p *ngIf="enviarForm.value.numEthers > 0">
                    Precio estimado del GAS: {{estimacionGas}}
            </p>
            <ng-container *ngIf="!formControls.numEthers.valid && pulsado">
                <p *ngIf="formControls.numEthers.errors.required" style="color:#FF0000">
                    Este campo es obligatorio
                </p>
                <p *ngIf="formControls.numEthers.errors.ethersValid && !formControls.numEthers.errors.required" style="color:#FF0000">
                    Valor no correcto
                </p>
            </ng-container>
            <p>
                Escribe la dirección de la billetera destino: <input type="string" size="50" formControlName="destAddress"/>*
                <ng-container *ngIf="!formControls.destAddress.valid && pulsado">
                    <p *ngIf="formControls.destAddress.errors.required" style="color:#FF0000">
                        Este campo es obligatorio
                    </p>
                    <p *ngIf="!formControls.destAddress.errors.required && formControls.destAddress.errors.checkLength" style="color:#FF0000">
                        La longitud no es correcta
                    </p>
                </ng-container>
            </p>
            <p>
                Vuelve a escribir la dirección de la billetera destino: <input type="string" size="50" formControlName="confirmAddress"/>*
                <ng-container *ngIf="!formControls.confirmAddress.valid && pulsado">
                    <p *ngIf="formControls.confirmAddress.errors.required" style="color:#FF0000">
                        Este campo es obligatorio
                    </p>
                    <p *ngIf="!formControls.confirmAddress.errors.required && formControls.confirmAddress.errors.checkLength && pulsado" style="color:#FF0000">
                        La longitud no es correcta
                    </p>
                </ng-container>
            </p>
            <p *ngIf="enviarForm.hasError('checkAddress') && pulsado" style="color:#FF0000">
                Las direcciones tienen que coincidir
            </p>
            <p>
                <input type="submit" value="Enviar Ethers"/>
            </p>
        </form>
    </div>  
    <div *ngIf="addressBoolean">Tu dirección es: {{address}}</div>
</div>